[Unit]
Description=ev3's main process
After=network.target

[Service]
Restart=always
User=student
WorkingDirectory=/home/robot/sixers/
ExecStart=python3.4 vision/ev3_client.py

[Install]
WantedBy=multi-user.target