[Unit]
Description=ev3's main process
After=network.target

[Service]
Restart=always
User=robot
WorkingDirectory=/home/robot/sixers/vision
ExecStart=/usr/bin/python3.4 ev3_client.py

[Install]
WantedBy=multi-user.target